
div.gallery.center {
    max-width:fit-content;
    margin: 0 auto;
}

div.gallery.left {
    margin: 0 auto 0 0;
}

div.gallery.right {
    margin: 0 0 0 auto;
}

.gallery table,.gallery tr,.gallery th,.gallery td  {
    max-width: fit-content;
    text-align:center !important;
    vertical-align: text-top !important;
    margin: 10px auto !important;
    /* for setting the pre/strong style in all gallery table text */
    line-height: normal;
    font-size: 0.8rem;
    font-weight: bold;
    border : 0 !important;
    background-color: transparent !important;
}

.gallery sub, .gallery sup {
    line-height: normal;
}

div.gallery {
    max-width: fit-content;
}

div.gallery.thumbnail, div.gallery.thumbnail-300, 
div.gallery.thumbnail-250, div.gallery.thumbnail-200 {
    border: 0;
}

.gallery img {
    max-width: 100%;
    text-align:left !important;
}

.gallery.image-scale-50 img {
    max-width: 50%;
}

.gallery.thumbnail img, .gallery.thumbnail-300 img {
    max-height:300px;
}
.gallery.thumbnail-500 img {
    max-height:500px;
}
.gallery.thumbnail-450 img {
    max-height:450px;
}
.gallery.thumbnail-400 img {
    max-height:400px;
}
.gallery.thumbnail-250 img {
    max-height:250px;
}
.gallery.thumbnail-350 img {
    max-height: 350px;
}
.gallery.thumbnail-200 img {
    max-height:200px;
}
.gallery.thumbnail-100 img {
    max-height:100px;
}
.gallery.thumbnail-50 img {
    max-height:50px;
}


div.arnold-note {
    max-width: fit-content;
    vertical-align: text-top !important;
    border: 1px solid rgba(221,221,221,1);
    box-shadow: 5px 5px 0px 0px rgb(221 221 221);
    margin: 10px 0px 15px;
}

.arnold-note table, .arnold-note td{
    max-width: fit-content;
    margin-top: 0;
}

.arnold-note th{
    background-color: transparent !important;
    height: 15px !important;
    padding: 5px 20px !important;
    color:white !important;
    font-weight: bold !important;
    padding: 7px 10px 7px 40px !important;
}

.arnold-note th:first-of-type:before{
    content: "Arnold User Guide : ";
}

.arnold-note tbody > tr, .arnold-note td{
    background-color: transparent !important;
    border: 0 !important;
}

.arnold-note > div.ui-table-wrap {
    margin: auto !important;
}

.arnold-note thead > tr{
    background: url("/cloudhelp/ENU/AR-Core/images/arnold_mini_icon_24.png") no-repeat;
    background-color: rgb(54 111 135) !important;
    height: 24px !important;
    background-position: 5px 2px !important;
}
