.ui-x-columns-grid{display:flex;flex-wrap:wrap;margin-left:-15px;max-width:1445px}
.ui-x-columns-grid>.ui-x-grid-block{flex:0 1 calc(25% - 15px);width:calc(25% - 15px);margin-left:15px;margin-bottom:15px;word-break:break-word}
.ui-x-columns-grid__two>.ui-x-grid-block{flex:0 1 calc(50% - 15px);width:calc(50% - 15px)}
.ui-x-columns-grid>.ui-x-card{background-color:#f8f8f8}
.ui-x-columns-grid>.ui-x-card:empty{visibility:hidden}
.ui-x-columns-grid>.ui-x-card>a{display:inline-block;text-decoration:none;height:100%}
.ui-x-columns-grid>.ui-x-card>a:hover{text-decoration:none}
.ui-x-columns-grid>.ui-x-card:hover{box-shadow:0 4px 5px rgba(0,0,0,.2)}
.ui-x-card .ui-x-card-thumbnail{position:relative}
.ui-x-card .ui-x-card-thumbnail>img{width:100%;display:block;border:1px solid #ebebeb;box-sizing:border-box}
.ui-x-card[data-ui-x-card-badge] .ui-x-card-thumbnail::before{content:"";border:29px solid rgba(6,150,215,.85);position:absolute;bottom:1px;left:1px;border-top-color:transparent;border-right-color:transparent}
.ui-x-card[data-ui-x-card-badge=video] .ui-x-card-thumbnail:after{content:"";position:absolute;left:7px;bottom:7px;background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjIiIGNsaXAtcnVsZT0iZXZlbm9kZCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0xMiAwQzUuNDYgMCAwIDUuNDQ4IDAgMTEuOTg4IDAgMTguNTI4IDUuNDYgMjQgMTIgMjRzMTItNS40NzIgMTItMTIuMDEyUzE4LjU0IDAgMTIgMHptNC41OSAxMi43NWwtNi4zIDQuMTFjLS4xMzIuMDc4LS42MDIuMTU2LS44NyAwYS44Ny44NyAwIDAxLS40MzUtLjc1VjcuODlhLjg3Ljg3IDAgMDExLjMwNS0uNzVsNi4zIDQuMTFhLjg1NS44NTUgMCAwMTAgMS41eiIvPjwvc3ZnPg==");background-size:contain;background-repeat:no-repeat;width:21px;height:21px}
.ui-x-card h3.ui-x-card-title{font-size:19px;font-weight:500;color:#222;margin:16px;padding:0}
.ui-x-card h3.ui-x-card-title,.ui-x-card p.ui-x-card-description{word-break:break-word;line-height:1.4;max-height:2.8em;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.ui-x-card p.ui-x-card-description{margin:-6px 16px 16px;font-size:inherit;color:#666;max-height:8.4em;-webkit-line-clamp:5}
.ui-x-card p.ui-x-card-description::after{content:".";display:block;height:0;overflow:hidden}
.ui-x-carousel{margin-bottom:15px}
.ui-x-carousel>.ui-x-columns-grid{margin-left:0;max-width:none;flex-wrap:nowrap;overflow:auto}
.ui-x-carousel>.ui-x-columns-grid>.ui-x-card:first-child{margin-left:0}
.ui-x-carousel>.ui-x-columns-grid>.ui-x-card{min-width:calc(25% - 15px);margin-bottom:0}
@media screen and (max-width:480px){
.ui-x-columns-grid>.ui-x-grid-block{flex:0 1 100%;width:100%}
.ui-x-carousel>.ui-x-columns-grid>.ui-x-card{margin-left:0}
}
@media screen and (min-width:481px) and (max-width:799px){
.ui-x-columns-grid>.ui-x-grid-block{flex:0 1 calc(50% - 15px);width:calc(50% - 15px)}
.ui-x-carousel>.ui-x-columns-grid>.ui-x-card:nth-child(odd){margin-left:0}
}
@media screen and (max-width:799px){
.ui-x-carousel>.ui-x-columns-grid{overflow:visible;flex-wrap:wrap}
}